@model IEnumerable<Models.TopTenItem>

@{
    ViewBag.Title = "HackBase";
}
<script type="text/javascript">
    PageUnrestricted = true;

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    $(function () {
        if (getParameterByName("login") == "true")
            $("#loginText").show();
    });

</script>
		<div class="row">
		<div class="span7 offset3">
        <h2 id="loginText" style="color: red; display:none;">You must login in order to continue.</h2>
		<h4><u>Top 10 Hacks</u></h4>
		
		<div id="description">
            @Html.EditorFor(t => t)
			<ul>
			<li><a class="icon-wrapper" target="_blank" href="">
				<h2>Social</h2>
				</a>
			</li>
				<a class="icon-wrapper" target="_blank" href="">
				<h2>Mobile</h2>
				</a>
			<li>
				<a class="icon-wrapper" target="_blank" href="">
				<h2>Gaming</h2>
				</a>
			</li>
				<a class="icon-wrapper" target="_blank" href="">
				<h2>Music</h2>
				</a>
			<li>
			</li>

			<li>
			</li>
		</ul>
		</div>

		</div>
		</div>