	body {
		background-image: url("blackwood.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#main {
		background: url("middlewood.jpg");
		opacity: 0.7;
		font-family: 'Happy Monkey', cursive;
		color: black;
		margin-top: 2%;
		border-radius: 10px;
		padding: 20px;
        font-size: 30px;
	}

	#description{
		margin-bottom: 30px;
	}

	#categories {
		width: 300px;
		height: 300px;
		color: rgba(0, 0, 0, .8);
	}

	#background {
		margin-top: 3%;
	}

.TopTen h2 {
    opacity: 0.7;
    font-family: 'Happy Monkey', cursive;
    color: black;
    font-size: 18px;
}

.TopTen h3 {
    opacity: 0.5;
    font-family: 'Happy Monkey', cursive;
    color: black;
    font-size: 14px;
}

	h1 {
		color: red;
		font-size: 72px;
		text-align: center;
	}

    h4 {
        color: black;
        font-size: 14px;
        text-align: center;
    }

	ul{
		list-style: none;
		width: 245px;
		height: 65px;
		margin: 0 auto;
		padding: 0px;
	}

	li{
		float: left;
	}
	
	a {
		text-decoration: none;
		color: black;
	}

	a:visited{
		color: black;
	}

	a:hover{
		color: red;
        cursor: pointer;
	}