	body {
		background-image: url("blackwood.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#main {
		height: 300px;
		background-color: #BFE1FF;
		opacity: 0.7;
		font-family: Helvetica, Arial, sans-serif;
		color: rgba(0, 0, 0, .8);
		margin-top: 10%;
		border-radius: 10px;
		padding: 20px;
	}

	#description{
		margin-bottom: 30px;
	}

	#categories {
		width: 300px;
		height: 300px;
		color: rgba(0, 0, 0, .8);
	}

	#background {
		margin-top: 3%;
	}

	h1 {
		color: red;
		font-size: 72px;
		text-align: center;
	}

    h2 { /* top 10 head */
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        text-align: left;
    }

    h3 { /* subtitle */
        color: rgba(0, 0, 0, 0.6);
        font-size: 10px;
        text-align: left;
    }

	ul{
		list-style: none;
		width: 245px;
		height: 65px;
		margin: 0 auto;
		padding: 0px;
	}

	li{
		float: left;
	}
	
	a {
		text-decoration: none;
		color: black;
	}

	a:visited{
		color: black;
	}

	a:hover{
		color: red;
        cursor: pointer;
	}