@model Models.HackIdea
@{
    ViewBag.Title = "Share Your Hack";
}
		<div class="row">
		<div class="span7 offset3">
		<h2>Share Your Hack</h2>
        @using(Html.BeginForm("Post","CreateIdea"))
        {
		<div id="description">
  			Hack Name: @Html.TextBoxFor(f => f.Name)<br>
  			Hack Description: @Html.TextBoxFor(f => f.Description)<br>
  			Tags (Separate By Commas):@Html.TextBoxFor(f => f.Tags)<br>
            
  			In Progress: @Html.RadioButtonFor(f => f.InProgress, true) Yes
						@Html.RadioButtonFor(f => f.InProgress, false) No<br><br>
  			<input type="submit">
		</div>
        }

		</div>
		</div>